In [9]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
import requests
import json

In [10]:
# Read accident CSV file as Pandas DataFrame
accident_df = pd.read_csv(r"Data/accident_FARS.csv")
accident_df

C:\Users\shrey\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (40,42,69) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,PERMVIT,PERNOTMVIT,...,HOSP_MN,HOSP_MNNAME,CF1,CF1NAME,CF2,CF2NAME,CF3,CF3NAME,FATALS,DRUNK_DR
0,1,Alabama,10001,2,2,0,0,3,3,0,...,27,27,0,None,0,None,0,None,1,1
1,1,Alabama,10002,2,2,0,0,2,2,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
2,1,Alabama,10003,3,3,0,0,4,4,0,...,5,5,14,"Motor Vehicle struck by falling cargo,or somet...",0,None,0,None,1,0
3,1,Alabama,10004,1,1,0,1,1,1,1,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
4,1,Alabama,10005,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33239,56,Wyoming,560117,1,1,0,0,1,1,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
33240,56,Wyoming,560118,5,5,0,0,6,6,0,...,0,0,0,None,0,None,0,None,1,0
33241,56,Wyoming,560119,1,1,0,0,1,1,0,...,21,21,0,None,0,None,0,None,1,1
33242,56,Wyoming,560120,1,1,0,0,2,2,0,...,52,52,0,None,0,None,0,None,1,1
33243,56,Wyoming,560121,2,2,0,0,3,3,0,...,2,2,0,None,0,None,0,None,2,1

In [12]:
accident_df.drop(columns = ["STATE", "CITY", "VE_TOTAL", "VE_FORMS", "PVH_INVL", "PEDS", "PERMVIT", 
                                "PERNOTMVIT", "COUNTY", "CITY", "DAY", "DAYNAME", "MONTH", "YEAR", "DAY_WEEK",
                                "HOUR", "HOURNAME", "MINUTE", "MINUTENAME", "NHS", "NHSNAME", "ROUTE",
                                "TWAY_ID", "TWAY_ID2", "RUR_URB", "FUNC_SYS", "RD_OWNER", "RD_OWNERNAME",
                                "MILEPT", "MILEPTNAME", "LATITUDENAME", "LONGITUDNAME", "SP_JUR", "SP_JURNAME",
                                "HARM_EV", "MAN_COLL", "RELJCT1", "RELJCT2", "RELJCT1NAME", "RELJCT2NAME",
                                "TYP_INT", "TYP_INTNAME", "WRK_ZONE", "WRK_ZONENAME", "REL_ROAD", "REL_ROADNAME",
                                "LGT_COND", "WEATHER1", "WEATHER1NAME", "WEATHER2", "WEATHER2NAME",
                                "WEATHER", "SCH_BUS", "SCH_BUSNAME", "RAIL", "RAILNAME", "NOT_HOUR", 
                                "NOT_HOURNAME", "NOT_MIN", "NOT_MINNAME", "ARR_HOUR", "ARR_HOURNAME",
                                "ARR_MIN", "ARR_MINNAME", "HOSP_HR", "HOSP_HRNAME", "HOSP_MN", "HOSP_MNNAME",
                                "CF1", "CF1NAME", "CF2", "CF2NAME", "CF3", "CF3NAME", "FATALS", "DRUNK_DR"], inplace = True)

In [13]:
accident_df

,STATENAME,ST_CASE,PERSONS,COUNTYNAME,CITYNAME,MONTHNAME,DAY_WEEKNAME,ROUTENAME,RUR_URBNAME,FUNC_SYSNAME,LATITUDE,LONGITUD,HARM_EVNAME,MAN_COLLNAME,LGT_CONDNAME,WEATHERNAME
0,Alabama,10001,3,LEE (81),OPELIKA,February,Thursday,Interstate,Urban,Interstate,32.666222,-85.336658,Motor Vehicle In-Transport,Front-to-Rear,Daylight,Clear
1,Alabama,10002,2,ETOWAH (55),GADSDEN,January,Wednesday,Interstate,Urban,Interstate,33.997828,-86.053997,Motor Vehicle In-Transport,Front-to-Rear,Dark - Not Lighted,Rain
2,Alabama,10003,4,CLEBURNE (29),NOT APPLICABLE,January,Tuesday,Interstate,Rural,Interstate,33.660842,-85.391011,Motor Vehicle In-Transport,Front-to-Rear,Dark - Not Lighted,Cloudy
3,Alabama,10004,1,ETOWAH (55),RAINBOW CITY,January,Tuesday,Interstate,Rural,Interstate,33.956472,-86.140522,Pedestrian,The First Harmful Event was Not a Collision wi...,Dark - Not Lighted,Clear
4,Alabama,10005,1,BALDWIN (3),NOT APPLICABLE,January,Friday,Interstate,Urban,Interstate,30.656269,-87.809461,Rollover/Overturn,The First Harmful Event was Not a Collision wi...,Dark - Not Lighted,"Fog, Smog, Smoke"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33239,Wyoming,560117,1,CROOK (11),Other,September,Saturday,Unknown,Rural,Local,44.354406,-104.810853,Rollover/Overturn,The First Harmful Event was Not a Collision wi...,Dusk,Severe Crosswinds
33240,Wyoming,560118,6,ALBANY (1),NOT APPLICABLE,September,Monday,State Highway,Rural,Minor Arterial,41.167136,-105.887706,Motor Vehicle In-Transport,Front-to-Rear,Daylight,Clear
33241,Wyoming,560119,1,SHERIDAN (33),NOT APPLICABLE,September,Sunday,State Highway,Rural,Local,44.912142,-107.104503,Rollover/Overturn,The First Harmful Event was Not a Collision wi...,Daylight,Clear
33242,Wyoming,560120,2,LARAMIE (21),NOT APPLICABLE,September,Sunday,U.S. Highway,Rural,Principal Arterial - Other,41.403750,-104.456917,Embankment,The First Harmful Event was Not a Collision wi...,Dark - Not Lighted,Clear
33243,Wyoming,560121,3,SWEETWATER (37),GREEN RIVER,September,Friday,Other,Urban,Principal Arterial - Other,41.522656,-109.447392,Motor Vehicle In-Transport,Front-to-Front,Dark - Not Lighted,Rain