In [6]:
# importing libraries
import pandas as pd
import glob as glob

# accidents.join(df2, how='outer')

# pd.concat([pd.read_csv(f).set_index('Case_Number') for f in glob.glob('Output/*.csv')],
#             axis=1).reset_index(drop=True)

# files = glob.glob('/Users/thomaslawless/Desktop/Ga Tech/Homework/Crash-Dummies-2.0/Output/*.csv')
# all_data = pd.merge(files, how='left')

# reading csv files
accidents = pd.read_csv('Output/accident_final.csv', encoding='cp1252')
people = pd.read_csv('Output/person_final.csv', encoding='cp1252')
vehicle = pd.read_csv('Output/vehicles_final.csv', encoding='cp1252')
  
# using merge function by setting how='outer'
some_data = pd.merge(accidents, people,
                    how='outer',
                    on='Case_Number')
  
# displaying result
print(some_data)

         State  Case_Number  Persons       County          City     Month  \
0      Alabama        10001      3.0     LEE (81)       OPELIKA  February
1      Alabama        10001      3.0     LEE (81)       OPELIKA  February
2      Alabama        10002      2.0  ETOWAH (55)       GADSDEN   January
3      Alabama        10002      2.0  ETOWAH (55)       GADSDEN   January
4      Alabama        10004      1.0  ETOWAH (55)  RAINBOW CITY   January
...        ...          ...      ...          ...           ...       ...
50165      NaN       560118      NaN          NaN           NaN       NaN
50166      NaN       560119      NaN          NaN           NaN       NaN
50167      NaN       560120      NaN          NaN           NaN       NaN
50168      NaN       560121      NaN          NaN           NaN       NaN
50169      NaN       560121      NaN          NaN           NaN       NaN

             Day       Route Rural/Urban   Latitude  ...  \
0       Thursday  Interstate       Urban  32.666222  ...
1       Thursday  Interstate       Urban  32.666222  ...
2      Wednesday  Interstate       Urban  33.997828  ...
3      Wednesday  Interstate       Urban  33.997828  ...
4        Tuesday  Interstate       Rural  33.956472  ...
...          ...         ...         ...        ...  ...
50165        NaN         NaN         NaN        NaN  ...
50166        NaN         NaN         NaN        NaN  ...
50167        NaN         NaN         NaN        NaN  ...
50168        NaN         NaN         NaN        NaN  ...
50169        NaN         NaN         NaN        NaN  ...

                                     Manner of Collision    Light Conditions  \
0                                          Front-to-Rear            Daylight
1                                          Front-to-Rear            Daylight
2                                          Front-to-Rear  Dark - Not Lighted
3                                          Front-to-Rear  Dark - Not Lighted
4      The First Harmful Event was Not a Collision wi...  Dark - Not Lighted
...                                                  ...                 ...
50165                                                NaN                 NaN
50166                                                NaN                 NaN
50167                                                NaN                 NaN
50168                                                NaN                 NaN
50169                                                NaN                 NaN

      Weather    Vehicle_Model  \
0       Clear           Toyota
1       Clear     Freightliner
2        Rain              BMW
3        Rain        Chevrolet
4       Clear        Peterbilt
...       ...              ...
50165     NaN        Peterbilt
50166     NaN  Harley-Davidson
50167     NaN          Hyundai
50168     NaN            Dodge
50169     NaN            Dodge

                                         Vehicle_Model.1   AGE     Sex  \
0                                           Toyota Camry  34.0  Female
1                        Freightliner Medium/Heavy - CBE  59.0    Male
2                                           BMW 3-series  42.0  Female
3      Chevrolet TrailBlazer (2003 on; for 2002 model...  54.0  Female
4                           Peterbilt Medium/Heavy - CBE  41.0    Male
...                                                  ...   ...     ...
50165                       Peterbilt Medium/Heavy - CBE  56.0    Male
50166                   Harley-Davidson 750cc or greater  52.0    Male
50167                                   Hyundai Santa Fe  31.0    Male
50168  Dodge Dart (2013 on. See model 001 for 1960-19...  42.0    Male
50169                                   Dodge Ram Pickup  30.0    Male

        DOA_Status                          Passenger_Type     Age_Group
0      No Fatality  Driver of a Motor Vehicle In-Transport  (33.0, 46.0]
1      No Fatality  Driver of a Motor Vehicle In-Transport  (46.0, 60.0]
2            Fatal  Driver of a Motor Vehicle In-Transport  (33.0, 46.0]
3      No Fatality  Driver of a Motor Vehicle In-Transport  (46.0, 60.0]
4      No Fatality  Driver of a Motor Vehicle In-Transport  (33.0, 46.0]
...            ...                                     ...           ...
50165  No Fatality  Driver of a Motor Vehicle In-Transport  (46.0, 60.0]
50166  No Fatality  Driver of a Motor Vehicle In-Transport  (46.0, 60.0]
50167        Fatal  Driver of a Motor Vehicle In-Transport  (19.0, 33.0]
50168        Fatal  Driver of a Motor Vehicle In-Transport  (33.0, 46.0]
50169  No Fatality  Driver of a Motor Vehicle In-Transport  (19.0, 33.0]

[50170 rows x 22 columns]

In [7]:
full_data = pd.merge(some_data, vehicle,
                        how='left',
                        on='Case_Number')

full_data.head(10)
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54360 entries, 0 to 54359
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State                21641 non-null  object
 1   Case_Number          54360 non-null  int64
 2   Persons              21641 non-null  float64
 3   County               21641 non-null  object
 4   City                 21641 non-null  object
 5   Month                21641 non-null  object
 6   Day                  21641 non-null  object
 7   Route                21641 non-null  object
 8   Rural/Urban          21641 non-null  object
 9   Latitude             21641 non-null  float64
 10  Longitude            21641 non-null  float64
 11  First Harmful Event  21641 non-null  object
 12  Manner of Collision  21641 non-null  object
 13  Light Conditions     21641 non-null  object
 14  Weather              21641 non-null  object
 15  Vehicle_Model        53854 non-null  object
 16  Vehicle_Model.1      53854 non-null  object
 17  AGE                  53854 non-null  float64
 18  Sex                  53854 non-null  object
 19  DOA_Status           53854 non-null  object
 20  Passenger_Type       53854 non-null  object
 21  Age_Group            53854 non-null  object
 22  Vehicle No.          35160 non-null  float64
 23  Body Type            35160 non-null  object
 24  Speed Exceed         35160 non-null  object
 25  Driver Safety        35160 non-null  object
 26  Pedestrian Crash     35160 non-null  object
 27  Hit/Run              35160 non-null  object
dtypes: float64(5), int64(1), object(22)
memory usage: 12.0+ MB

In [8]:
clean_df = full_data.dropna(axis=1, how='all', inplace=False)
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54360 entries, 0 to 54359
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State                21641 non-null  object
 1   Case_Number          54360 non-null  int64
 2   Persons              21641 non-null  float64
 3   County               21641 non-null  object
 4   City                 21641 non-null  object
 5   Month                21641 non-null  object
 6   Day                  21641 non-null  object
 7   Route                21641 non-null  object
 8   Rural/Urban          21641 non-null  object
 9   Latitude             21641 non-null  float64
 10  Longitude            21641 non-null  float64
 11  First Harmful Event  21641 non-null  object
 12  Manner of Collision  21641 non-null  object
 13  Light Conditions     21641 non-null  object
 14  Weather              21641 non-null  object
 15  Vehicle_Model        53854 non-null  object
 16  Vehicle_Model.1      53854 non-null  object
 17  AGE                  53854 non-null  float64
 18  Sex                  53854 non-null  object
 19  DOA_Status           53854 non-null  object
 20  Passenger_Type       53854 non-null  object
 21  Age_Group            53854 non-null  object
 22  Vehicle No.          35160 non-null  float64
 23  Body Type            35160 non-null  object
 24  Speed Exceed         35160 non-null  object
 25  Driver Safety        35160 non-null  object
 26  Pedestrian Crash     35160 non-null  object
 27  Hit/Run              35160 non-null  object
dtypes: float64(5), int64(1), object(22)
memory usage: 12.0+ MB

In [9]:
clean_df["DOA_Status"].unique()

array(['No Fatality', 'Fatal', nan], dtype=object)

In [10]:
# Writing Accidents final dataframe to a csv
clean_df.to_csv(r"Output/full_data_final.csv", index=False, header=True)